/* 이 링크 컴포넌트 버튼 모양이고, 방문한 URL이 구분될 수 있게 스타일링 해줘 */

.link {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
/* 각 상태에 따라 더 눈에 띄게 스타일을 변경해줘 font-weight: bold; 추가해줘*/ 
.link:hover {
  background-color: red;
  font-weight: bold;
}

.link:active {
  background-color: blue;
  font-weight: bold;
}

.activeLink {
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.5);
}